@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.answers-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.answer {
    color: #293264;
    box-sizing: border-box;
    left: 232.26px;
    top: 252.44px;
    border: 0.794239px solid #4D5B9E;
    border-radius: 7.94239px;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}