.quizz-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 25px;
    gap: 20px;
    justify-content: center;
}

.check-btn {
    width: 193px;
    height: 52px;
    background: #4D5B9E;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #F5F7FB;
    align-self: center;
    margin-top: 5px;
}