@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.start-container {
    position: absolute;
    left: 450px;
    background: #F5F7FB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-title {
    position: absolute;
    width: 412px;
    height: 41px;
    left: 70px;
    top: 218px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 37px;
    text-align: center;
    color: #293264;
}

.start-description {
    position: absolute;
    width: 318px;
    height: 19px;
    left: 117px;
    top: 266px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #293264;
}

.start-btn {
    position: absolute;
    width: 193px;
    height: 52px;
    left: 179px;
    top: 324px;
    background: #4D5B9E;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #F5F7FB;
}